__pycache__/
*.pyc
*.pyo
*.swp
*.log
*.rpm
build/
dist/
*.spec

rpmbuild/
*.tar.gz
*.deb
*.rpm
*.zip
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.7z
*.iso
*.img
*.vmdk
*.vdi
*.qcow2
*.raw
*.dmg
*.exe
*.msi
*.app
*.deb
*.rpm
*.tar.gz
*.zip
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.7z
*.iso
*.img
*.vmdk
*.vdi
*.qcow2
*.raw
*.dmg
*.exe
*.msi
*.app
*.deb
*.rpm
*.tar.gz
